@font-face{
    font-family: 'vaziri';
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Vazir.woff2") format("woff2"),
        url("../fonts/Vazir.woff") format("woff"),
        url("../fonts/Vazir.ttf") format("truetype");
}
body{
    direction: rtl;
    text-align: right !important;
    font-family: 'vaziri';
}